.popular_blog{
    display:flex;
    /* padding-left: 10rem; */
    font-size: 1.6rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;

}

.blog_metadata{
    flex: 1;
    flex-basis: 20%;
}

.blog_metadata .blog_readtime{
    display: inline-block;
    font-weight: 700;

}

.blog_metadata .blog_date{
    display: block;
    font-size: 1.1rem;
    font-weight: lighter;
}

.blog_main{
    flex: 2;
    align-self: flex-start;
    flex-basis: 50%;
}

.blog_main .blog_heading{
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

.blog_main .blog_excerpt{
    text-align: justify;
    line-height: 1.2;
}

.blog_link{
    flex: 1;
    flex-basis: 20%;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 5rem;
}

.blog_link a{
    display: inline-block;
    color: #272133;
    border-bottom: 0.2rem solid #fff088;
    padding: 1 rem;
    transition: 0.5s;
}

.blog_link a:hover{
    border-bottom: 0.2rem solid #272133;    
}