
$primary-color: #fff088;
$secondary-color: #272133; 

$background-gradient-color-0: #fff088;
$background-gradient-color-1: #faefaf;
$background-gradient-color-2: #e9e3be;
$background-gradient-color-3: #f0ecd8;
$background-gradient-color-4: #e9e6d4;
$background-gradient-color-5: #f5f3e5;
$background-gradient-color-6: #f8f6e6;
$background-gradient-color-7: #f5f3ec;
$background-gradient-color-8: #fdfdfd;
$background-gradient-color-9: #ffffff;
