#app{
    margin: 0 4vw;
    margin-top: 2vh;
    font-size: 1rem;
  }
  
  #header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%;
    margin-bottom: 10vh;
  }
  
  #main{
    display: flex;
    max-width: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  
  