.navbar{
  padding-right: 10rem;
}
.nav_link{
    display:inline-block;
    color:#fff088;
    background:#272133;
    padding:1rem 1rem;
    font-size:1.5rem,;
    letter-spacing:.2rem;
    text-transform:uppercase;
    transition: 1s;
  }

  /* .btn + .btn{
    margin-left: 0.2rem;
  }
   */
  .nav_link:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff088;
    transform: scale(1.1);
    color:#272133;
  }
  